<div id="signup">
	<div class="row">
	 <div class="col-md-6 col-md-offset-3">
	  <%= form_for(@user, html: {id: "myform"}) do |f| %>
	   	<%= f.label :name %>
	    <%= f.text_field :name, :placeholder => "name" %>

	    <%= f.label :email %>
	    <%= f.email_field :email, :placeholder => "email" %>

	    <br>
	    <br>

	    <ziggeo ziggeo-form_accept="#myform" ziggeo-input_bind="user[videotoken]" ziggeo-expiration_days=270 ziggeo-width=320 ziggeo-height=240>
			</ziggeo>

			<br>

	    <%= f.submit "Sign me up", class: "btn btn-primary", id: "submit-video" %>
	  <% end %>
	 </div>
	</div>
</div>

<script type="text/javascript">
// 	ZiggeoApi.Events.on("submitted", function (data) {
// 	alert("Submitted a new video with token '" + data.video.token + "'!");
// 	console.log("Submitted a new video with token '" + data.video.token + "'!");
// 	videotoken = data.video.token;
// 	videotoken.toJSON();
// 	createVideotoken(videotoken);
// });

// 	function createVideotoken(token) {
// 		$.ajax({
// 			url: '/users/',
// 			method: 'POST',
// 			data: $('#myform').serialize()
// 		});
// 	}

</script>